<div class="container">
  <h1>Table Record</h1><button class="btn mb-2 right btn-success" routerLink="/add">add</button>
  <table class="rounded table table-light table-striped">

    <tbody>

      <tr>
        <td class="col-2">no.</td>
        <td class="col-2">email</td>
        <td class="col-2">password</td>
        <td class="col-2">opration</td>

      </tr>
      <tr *ngFor="let json of data">
        <td>{{json.id}}</td>
        <td>{{json.email}}</td>
        <td>{{json.password}}</td>
        <td ><button class="btn btn-danger" (click)="edit(json)">edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
